<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/upload2.css}">
    <title> Upload </title>
</head>

<body>
    <header>
        <div>
            <h1>Área de Upload</h1>
            <h3> [[${message}]]</h3> <!-- mensagem de aviso, puxa a variavel de aviso  -->

            <form th:action="@{/api/upload}" method="POST" enctype="multipart/form-data">
                <div>
                    <h2>Envie seus arquivos:</h2>
                    <input type="file" name="file" required />
                    <input type="submit" value="Upload" />
                </div>
            </form>
            <br>
            <div class="container">
                <th:block th:each="arquivo:${listArquivos}">
                    <div class="item">
                        <img class="icone" th:src="@{'/tmp/'+${arquivo.local}}" width="50" />
                        <br>
                        <a th:href="@{'api/download?id='+${arquivo.id}}">[[${arquivo.nome}]]</a>

                        <p>([[ ${ #numbers.formatInteger(arquivo.size, 4, 'COMMA') } ]] bytes)</p>
                    </div>
                </th:block>
            </div>
        </div>
    </header>

</html>